{% extends 'base.html' %}
{% block content %}

{% load static %}
{% block title %} Jahon yangiliklari {% endblock title %}
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
{% include 'partial/header.html' %}
<section id="contentSection">
    <div class="row">
      <div class="">
        <div class="left_content">
          <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="">Technology</a></li>
              <li class="active">Mobile</li>
            </ol>
            <div class="welico">
              {% for news in world_news %}
              <div class="post_commentbox"> <a href=""><i class="fa fa-user"></i>Admin</a> <span><i class="fa fa-calendar"></i>{{ news.publish }}</span> <a href="#"><i class="fa fa-tags"></i>Category</a> </div>
                <h1><a href="{% url 'view' news.pk %}">{{ news.title }}</a></h1>
              <a href="{% url 'view' news.pk %}">
                <div class="single_page_content"> <img class="img-center" src="{{ news.image.url }}" alt="" style="width: 600px; height: 320px;"></a>
                  <h3><a href="{% url 'view' news.pk %}">{{ news.slug }}</a></h3>
                  <hr>
                  {% endfor %}
            </div>
              <button class="btn default-btn">Default</button>
              <button class="btn btn-red">Red Button</button>
              <button class="btn btn-yellow">Yellow Button</button>
              <button class="btn btn-green">Green Button</button>
              <button class="btn btn-black">Black Button</button>
              <button class="btn btn-orange">Orange Button</button>
              <button class="btn btn-blue">Blue Button</button>
              <button class="btn btn-lime">Lime Button</button>
              <button class="btn btn-theme">Theme Button</button>
            </div>
            <div class="social_link">
              <ul class="sociallink_nav">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav-slit"> <a class="prev" href="#"> <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
        <div>
          <h3>City Lights</h3>
          <img src="{% static 'images/post_img1.jpg' %}" alt=""/> </div>
        </a> <a class="next" href="#"> <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
        <div>
          <h3>Street Hills</h3>
          <img src="{% static 'images/post_img1.jpg' %}" alt=""/> </div>
        </a> </nav>
    </div>
  </section>
  {% include 'partial/footer.html' %}
</div>
{% endblock content %}